"*":
  "accents-ui": {}
  "activate-power-mode":
    autoToggle: false
    comboMode: {}
    plugins:
      playAudio: true
      screenShake: true
    screenShake:
      enabled: false
  "advanced-open-file":
    fuzzyMatch: true
  "apathy-theme":
    altFont: "Inconsolata"
    altStyle: "Color Pop"
    customInactiveOverlayColor: "#212121"
  "atom-beautify":
    _analyticsUserId: "6303a769-dcf4-4856-b9f6-aa131ba2bab7"
    general:
      _analyticsUserId: "ffb6e59a-5fcd-4383-911b-983d2b6acadc"
  "atom-clock":
    dateFormat: "LT"
  "atom-material-ui":
    colors:
      abaseColor: "#ffa726"
      accentColor: "#9f6918"
      genAccent: true
      predefinedColor: "Orange"
    fonts:
      fontSize: 18
    tabs:
      compactTabs: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "autocomplete-elixir":
    erlangHome: "/usr/local/bin"
  "autocomplete-erlang": {}
  core:
    audioBeep: false
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "rubocop-auto-correct"
      "language-elmx"
      "highlight-column"
      "fancy-bracket-matcher"
      "atom-bracket-highlight"
      "swackets"
      "fonts"
      "tab-switcher"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    packagesWithKeymapsDisabled: [
      "advanced-new-file"
    ]
    telemetryConsent: "no"
    themes: [
      "pristine-ui"
      "pure-syntax"
    ]
  editor:
    fontFamily: "Consolas"
    fontSize: 27
    invisibles: {}
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
  "elm-format":
    binary: "/Users/jade/.dotfiles/bin/elm-format"
  elmjutsu:
    autocompleteEnabled: true
    autocompleteSnippetsEnabled: true
    cacheDirectory: "/var/folders/sl/w8s5z_d11fgb9vvryg_w8f900000gr/T/elmjutsu25202CLgR47R69DBk"
    globalAutocompleteEnabled: true
    hyperclickEnabled: true
    showSidekick: true
  "file-icons": {}
  fonts:
    fontFamily: "Hack"
  "gruvbox-plus-syntax":
    contrast: "Hard"
    variant: "No Dimmed Colors"
  "highlight-column": {}
  "highlight-line":
    hideHighlightOnSelect: true
  "highlight-selected": {}
  iex:
    colors: {}
  "language-elm":
    autocompleteEnabled: false
    elmOraclePath: "/usr/local/bin/elm-oracle"
  linter: {}
  "linter-elixirc":
    elixircPath: "/usr/local/bin/elixirc"
    mixPath: "/usr/local/bin/mix"
  "linter-elm-make": {}
  "linter-erlang": {}
  "linter-js-standard": {}
  "linter-ui-default":
    panelHeight: 53
  "markdown-preview":
    breakOnSingleNewline: true
  minimap:
    absoluteMode: true
  "nord-atom-syntax":
    accessibility: {}
  "nord-atom-ui":
    darkerFormFocusEffect: true
  "one-dark-ui":
    fontSize: 15
    layoutMode: "Compact"
  "pdf-view": {}
  pigments: {}
  "relative-numbers":
    showAbsoluteNumbers: true
  "release-notes":
    viewedVersion: "0.89.0"
  "rubocop-auto-correct":
    autoRun: true
  "seti-syntax":
    dynamicColor: false
    themeColor: "Green"
  "seti-ui":
    compactView: true
    themeColor: "Steel"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "steam-pirate-ui":
    fontSize: 12
    layoutMode: "Compact"
  swackets:
    colorParens: true
    colorSquareBrackets: true
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  welcome:
    showOnStartup: false
".elixir.text":
  editor:
    showInvisibles: false
".elm.elmx.source":
  editor:
    softWrapHangingIndent: 2
".elm.source":
  editor:
    softWrapHangingIndent: 2
