"*":
  "accents-ui": {}
  "advanced-open-file":
    fuzzyMatch: true
  "apathy-theme":
    altFont: "Inconsolata"
    altStyle: "Color Pop"
    customInactiveOverlayColor:
      red: 33
      green: 33
      blue: 33
      alpha: 1
  "atom-beautify":
    _analyticsUserId: "6303a769-dcf4-4856-b9f6-aa131ba2bab7"
  "atom-material-ui":
    colors:
      abaseColor:
        red: 96
        green: 125
        blue: 139
        alpha: 1
      genAccent: true
      predefinedColor: "Blue Grey"
    fonts: {}
    tabs: {}
    treeView:
      compactList: true
    ui:
      animations: false
  "autocomplete-elixir":
    erlangHome: "/usr/local/bin"
  "autocomplete-erlang": {}
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "fonts"
      "fancy-bracket-matcher"
      "rubocop-auto-correct"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    packagesWithKeymapsDisabled: [
      "advanced-new-file"
    ]
    themes: [
      "atom-material-ui"
      "material-syntax"
    ]
  editor:
    fontFamily: "Inconsolata"
    invisibles: {}
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
  "file-icons": {}
  fonts:
    fontFamily: "Inconsolata"
  "highlight-column":
    lineMode: true
  "highlight-line":
    hideHighlightOnSelect: true
    underline: "dashed"
  "highlight-selected":
    ignoreCase: true
  linter: {}
  "linter-erlang": {}
  minimap: {}
  "one-dark-ui":
    fontSize: 10
  "pdf-view": {}
  pigments: {}
  "relative-numbers":
    showAbsoluteNumbers: true
  "release-notes":
    viewedVersion: "0.89.0"
  "rubocop-auto-correct":
    autoRun: true
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "steam-pirate-ui":
    fontSize: 12
    layoutMode: "Compact"
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  welcome:
    showOnStartup: false
