"*":
  "accents-ui": {}
  "apathy-theme":
    altFont: "Inconsolata"
    altStyle: "Color Pop"
    customInactiveOverlayColor:
      alpha: 1
      blue: 33
      green: 33
      red: 33
  "atom-beautify":
    _analyticsUserId: "6303a769-dcf4-4856-b9f6-aa131ba2bab7"
  "atom-material-ui":
    accentColor: "Red"
    compactTreeView: true
    depth: true
    disableAnimations: true
    panels: {}
    tabs: {}
    treeView:
      compactTreeView: true
    ui:
      disableAnimations: true
  "autocomplete-elixir":
    erlangHome: "/usr/local/bin"
  "autocomplete-erlang": {}
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "autocomplete-julia"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "hacking-the-kernel-ui"
      "hacking-the-kernel"
    ]
  editor:
    fontFamily: "Inconsolata"
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
  fonts:
    fontFamily: "Inconsolata"
  "highlight-selected": {}
  linter: {}
  "linter-erlang": {}
  minimap:
    absoluteMode: true
  "one-dark-ui":
    fontSize: 12
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "steam-pirate-ui":
    fontSize: 12
    layoutMode: "Compact"
  welcome:
    showOnStartup: false
